<h1 class="entry-desc" id="contact-me">CONTACT ME</h1>
<div id="contact">
    <div class="jobs">
        <h2>{{ $.Site.Params.Contact.job.title }}</h2>
        <div>
            {{ $.Site.Params.Contact.job.body | markdownify }}
        </div>
    </div>

    <div class="interest">
        <h2>{{ $.Site.Params.Contact.interest.title }}</h2>
        <div>
            {{- range $.Site.Params.Contact.interest.items }}
            <div class="block">
                <h3>{{ .title }}</h3>
                <ul>
                    {{- range .items -}}
                    <li>{{ . }}</li>
                    {{- end -}}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</div>