h1.entry-desc {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em auto;
    text-align: center;
}

article.home-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    align-items: center;
    margin: var(--gap) 0 calc(var(--gap) * 2);
}

article.home-info section.entry-content p {
    text-align: center;
    line-height: 1.5em;
}

img.lemon {
    display: inline-table;
    border-radius: 50%;
    pointer-events: none;
    border: 2px solid #fff;
    margin-bottom: 0.5em;
}

div.list-entry:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

div.list-entry:not(:first-child) {
    margin-top: 1em;
}

div.list-entry section.entry-content {
    -webkit-line-clamp: unset !important;
}

div.list-entry section.entry-content {
    color: var(--primary);
}

div.list-entry header h2 small {
    color: var(--secondary);
    font-size: 0.65em;
    font-weight: normal;
}

div.list-entry header span.from {
    color: var(--secondary);
    font-size: 0.9em;
    font-weight: normal;
}

div.list-entry header span.tilda {
    color: var(--secondary);
    font-size: 0.7em;
    font-weight: normal;
}

div.list-entry header span.until {
    color: var(--secondary);
    font-size: 0.9em;
    font-weight: normal;
}